.el-table .cell {
    font-size: 14px;
}

.table-container {
    margin-top: 8px;
    width: 100%;

    table.el-table__header,
    table.el-table__header th {
        color: #000000;
        background-color: #761d1d !important;
        font-size: 16px;
    }

    table.el-table__header,
    table.el-table__header th {
        color: #304156;
        background-color: #e2e2e2 !important;
    }

    .el-table__body tr.hover-row>td {
        background: #e7f2ff !important;
    }

    .cell {
        font-size: var(--el-form-label-font-size);
    }

    .el-table__body tr.el-table__row--striped td {
        background: #E0E0E0 !important;
    }

}